
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  position: sticky;
  background-color: #333;
  opacity: 70%;
  color: white;
  line-height: 66.6%;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
}
