
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  line-height: 66.6%;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
